<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Categories</title>
    <link rel="stylesheet" href="/css/normolize.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <header class="header">
        <nav>
            <a href="/templates/admin/categories.htmlories.html" th:href="@{/admin/categories/main}">Back</a>
            <a href="/templates/admin/categoriesAdd.html" th:href="@{/admin/categories/add}">Add categories</a>
        </nav>
    </header>

    <section th:insert="blocks/section :: section"></section>


    <main class="main">
        <div class="container">
            <div class="row">
                <form th:action="@{/admin/categories/add}" method="post" th:object="${category}">
                    <input type="hidden" name="id" th:field="*{id}">
                    <div class = "form-group">
                        <!--<label for="name">Name</label>-->
                        <label>Name</label>
                        <input type="text" class="form-control" required th:field="*{name}" name="name">
    
                    </div>
                    <div class="form-control">
                        <label>
                            <input type="checkbox" name="active" th:checked="*{isActive()}"> Active
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </main>


</body>
</html>