<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAU LOGIN</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/SAU-LOGO.svg">
    <link rel="stylesheet" href="/css/normolize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    
    <main class="login-register-form">
        <div class="container">
            <div th:if="${param.error}">
                <div class="alert alert-danger">Invalid Email and Password.</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success">You have been logged out.</div>
            </div>

            <h1>Личный кабинет</h1>

            <form method="post" th:action="@{/login}" class="login-input" role="form"> </form>

            <div class="mb-3">
                <label for="username" class="control-label"></label>
                <input id="username" class="login-input" type="text" name="username" placeholder="Электронная почта" required minlength="4" maxlength="150" size="44" />
            </div>
            <div class="mb-3">
                <label for="password" class="control-label"></label>
                <input id="password" class="login-input" type="password" name="password" placeholder="Пароль" required minlength="8" maxlength="15" size="44" />
            </div>

            <h3><a href="#">Забыли пароль?</a></h3>

            <section class="login-btns">
                <a>Войти</a>
                <span class="register-btn"><a th:href="@{/register}">Регистрация</a></span>
            </section>
        </div>
    </main>
</body>
</html>
