body{
    font-family: 'Poppins', sans-serif;
    background-color: #F2F9FF;
    height: 100vh;

    display: grid;
    grid-template-columns: 370px 1fr;
    grid-template-rows: 90px 1fr;/* ширина header */
}

/* header */

.header{
    background-color: #ffffff;
    border-bottom: 1px solid #003B5C;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

/* sidebar */
.sidebar{
    background-color: #FFFFFF;
    border-right: 1px solid #003B5C;

    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.logo a,
.sidebar ul a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
}

.logo a{
    font-size: 64px;
    color:  #D7F1FF;
    background: #1E79AB;
    padding: 30px 105px;
}

.sidebar ul a{
    font-size: 24px;
    padding: 28px 80px;
    color:  #1E79AB;
    border-radius: 15px;

    margin: 11px 30px;
}

/* .sidebar ul a:focus{
    background: #D7F1FF;
    color: #1E79AB;
} */

 .sidebar ul a:active{
    background: #D7F1FF;
    color: #1E79AB;
} 


/* main */
.main{
    background-color: #FFFFFF;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.main h1{
    margin-top: 168px;
    font-weight: 700;
    font-size: 64px;
    color: #1E79AB;
    margin-left:  44px;
}


/* header-categories */
.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 31px 100px;
}

nav a{
    font-weight: 700;
    font-size: 30px;
    color: #1E79AB;
    text-decoration: none;
}


/* main-categories */
thead tr th{
    font-weight: 700;
    font-size: 30px;
    color: #003B5C;
    padding: 54px 0 0 79px;
}

tbody tr td,
tbody tr td a,
tbody tr th{
    font-weight: 500;
    font-size: 28px;
    color: #003B5C;
    padding: 54px 15px;
    text-align: center; 
}

tbody tr td a{
    text-decoration: none;
}


/* add categories */
.row{
    padding: 54px 15px;
}

.row label{
    font-weight: 700;
    font-size: 36px;
    color: #003B5C;
    margin: 40px;
}

.row input{
    font-weight: 700;
    font-size: 30px;
    color: #003B5C;
    background: #D7F1FF;
    border: 1px solid #003B5C;
    border-radius: 15px;
}

.row button{
    font-weight: 700;
    font-size: 30px;
    color: #003B5C;
    background: #D7F1FF;
    border-radius: 10px;
    border-style:none;
    padding: 8.03px 60px;

    margin: 40px 20px;
}

.row button:hover{
    background: #003B5C;
    color:#D7F1FF;
}

/* add product */
.container h3{}
