<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sau</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/SAU.png">
    <link rel="stylesheet" href="/css/normolize.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="nav-logo">
                <a href="src/main/resources/templates/home.html">
                    <img src="/images/SAU1.png" alt="SAU" width="90" height="50">
                </a>
            </div>

            <nav class="nav-bar">
                <ul>
                    <li > <a href="src/main/resources/templates/home.html">Главная</a></li>
                    <li> <a href="src/main/resources/templates/category.html">Категории</a></li>
                    <li class="active"> <a href="src/main/resources/templates/about.html">Про нас</a></li>
                    <li> <a href="/html/info.html">Инфо</a></li>
                    <li> <a href="/html/blog.html">Блог</a></li>
                </ul>
            </nav>

            <div class="nav-btn">
                <div class="nav-cart">
                    <a href="/html/cart.html"> <img src="/images/Cart.svg" alt="cart"> </a>
                </div>

                <div class="nav-register">
                    <a href="#"> <img src="/images/user.svg" alt="account user"> </a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="about-page">
            <div class="container">
                <h5><a href="src/main/resources/templates/home.html">Главная</a></h5>
                <h5>></h5>
                <h5><a href="src/main/resources/templates/about.html">Про нас</a></h5>
            </div>
        </section>


        <section class="about-us">
            <div class="container">
                <h1>Про нас</h1>
                <b>Сау - это натуральный и освежающий напиток, который пробуждает ваши вкусовые рецепторы и доставляет
                        непревзойденное удовольствие. Созданный с заботой о вашем благополучии, Сау объединяет в себе уникальный
                        сочетание свежих ингредиентов и богатый аромат, чтобы утолить вашу жажду и подарить вам момент
                        наслаждения.</b>
            </div>
        </section>
    </main>

    <footer>
        <section class="footer-contacts">
            <h2>Контакты</h2>
            <article>
                <h3>Адрес</h3>
                <h4> <a href="#">Казахстан, г. Астана, проспект Кабанбай батыра, 8</a> </h4>
            </article>

            <article>
                <h3>Телефон</h3>
                <h4>+7 (777) 777-77-77</h4>
            </article>

            <article>
                <h3>Почта</h3>
                <h4> <a href="#">saysau@sau.kz</a></h4>
            </article>
        </section>

        <section class="footer-nav">
            <h2>Навигация</h2>
            <ul>
                <li> <a href="#">Главная</a></li>
                <li> <a href="#">Категории</a></li>
                <li> <a href="#">Про нас</a></li>
                <li> <a href="#">Инфо</a></li>
                <li> <a href="#">Блог</a></li>
            </ul>
        </section>
    </footer>
</body>

</html>