<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="src/main/resources/static/css/normolize.css">
    <link rel="stylesheet" href="src/main/resources/static/css/main.css">
</head>
<body>

    <header class="header">
<!--         <h5>Categories</h5>
        <a href="#">Add category</a> -->
    </header>

    <section th:insert="blocks/section :: section"></section>

    <main class="main">
        <h1>Welcome, Admin! Good Job!</h1>
    </main>

</body>
</html>