<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tn="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAU LOGIN</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/SAU-LOGO.svg">
    <link rel="stylesheet" href="/css/normolize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    
    <main class="login-register-form">
        <div class="container">
            <h1>Личный кабинет</h1>
            <form th:action="@{/login}" method="post">
                <div th:if="${param.error}" class="alert alert-danger">
                    Invalid username & Password
                </div>

                <div th:if="${param.logout==null}" class="alert alert-success">
                    Logout Sucessfully
                </div>
                <table>
                    <tr>
                        <td><input class="login-input" type="text" name="username" required placeholder="Username" minlength="4" maxlength="150" size="44"></td>
                    </tr>
                    <tr>
                        <td> <input class="login-input" type="password" name="password" required placeholder="Пароль" minlength="8" maxlength="15" size="44"></td>
                    </tr>
                </table><br/>
                
            </form>
            <h3><a href="/templates/forgot-pass.html">Забыли пароль?</a></h3>
            <section class="login-btns">
                <button type="submit" class="btn btn-success offset-md-5">Войти</button>
<!--                <a href="/admin/">Войти</a>-->
                <span class="register-btn"><a href="#" th:href="@{/users/register}">Регистрация</a></span>
            </section>
        </div>
    </main>
</body>
</html>

