<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <a class="nav-link" th:href="@{/admin}" href="#">admin-home</a>
    <a class="nav-link" th:href="@{/logout}" href="#">logout</a>
</nav>
<div class="container">
    <h3>Add a new Product</h3>
    <form th:action="@{/admin/products/add}" method="post" th:object="${productDto}" enctype="multipart/form-data">
        <div class="row">
            <input type="hidden" name="id" th:field="*{id}">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" required th:field="*{name}" name="name"
                       placeholder="Enter name">
            </div>
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" th:field="*{categoryId}" id="category" name="category_id">
                    <option th:each="category :${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}">

                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="number" class="form-control" required th:field="*{price}" id="product.price" name="price"
                       placeholder="Price">
            </div>
            <div class="form-group">
                <label>Product Description</label>
                <textarea class="form-control" rows="5" th:field="*{description}" name="description" id="product"></textarea>
            </div>
        </div>
        <div class="col-sm-5">
            <p>Product Image</p>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="productImage" accept="image/svg+xml, image/jpeg, image/png">
                <label>Choose file</label>
            </div>
            <div class="form-group">
                <img src="#" id="imgPreview" height="100px" width="100px" th:src="@{${'/productImages/'}}">
            </div>
            <input type="hidden" name="imgName" th:value="${productDto.imageName}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</body>
</html>