<div th:fragment="footer">
    <div class="container">
        <div class="row">
            <section class="footer-col">
                <h4>Компания</h4>
                <ul>
                    <li><a href="#">Политика конфиденциальности</a></li>
                    <li><a href="#">Партнерская программа</a></li>
                    <li><a href="#">Работай с нами</a></li>
                </ul>
            </section>
            <section class="footer-col">
                <h4>Навигация</h4>
                <ul>
                    <li><a th:href="@{/home}" href="#">Главная</a></li>
                    <li><a th:href="@{/home/shop}" href="#">Магазин</a></li>
                    <li><a th:href="@{/home/about-us}" href="#">О нас</a></li>
                    <li><a th:href="@{/home/info}" href="#">Информация</a></li>
                    <li><a th:href="@{/home/blogs}" href="#">Блог</a></li>
                </ul>
            </section>
            <section class="footer-col">
                <h4>Контакты</h4>
                <ul>
                    <li><a href="https://2gis.kz/astana/geo/9570784863336916">Казахстан, г. Астана, проспект Кабанбай батыра, 8</a></li>
                    <li><a href="#">info@sau.kz</a></li>
                    <li><a href="#">+7 (777) 777 77 77</a></li>
                </ul>
            </section>
            <section class="footer-col">
                <h4>Социальные сети</h4>
                <ul class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/aiu_astana/"><i class="fab fa-instagram"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=77476758786"><i class="fab fa-whatsapp"></i></a>
                </ul>
            </section>
        </div>
    </div>
</div>