<div th:fragment="header">
    <div class="container">
        <div class="nav-logo">
          <a th:href="@{/home}" href="#">
            <img src="/images/SAU-LOGO.svg" alt="SAU logo"> <!--width="90" height="50"-->
          </a>
        </div>

        <nav class="nav-bar">
            <ul>
              <li> <a th:href="@{/home}" href="#">Главная</a></li>
              <li> <a th:href="@{/shop}" href="#">Магазин</a></li>
              <li> <a th:href="@{/about}" href="#">О нас</a></li>
              <li> <a href="#">Информация</a></li>
              <li> <a href="#">Блог</a></li>
            </ul>
        </nav>

        <div class="nav-btns">
            <div class="nav-search">
              <a href="#"> <img src="/images/search.svg" alt="search"></a>
            </div>
            <div class="nav-cart">
              <a th:href="@{/cart}"> <a href="/cart"><span th:text="${cartCounter}"><img src="/images/cart.svg" alt="cart"></span></a> </a>
            </div>
            <div class="nav-register">
              <a th:href="@{/login}" href="#">Войти</a>
            </div>
        </div>
    </div>
</div>
