<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAY - SAU</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/SAU-LOGO.svg">
    <link rel="stylesheet" href="/css/normolize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body>
<header th:insert="blocks/header :: header"></header>

<main>
    <section>
        <div class="banner">
            <div class="mySlides fadeIn"> <!-- fadeIn - эффект перехода -->
                <img src="/images/banner-1.svg" alt="banner" style="width: 100%;">
            </div>

            <div class="mySlides fadeIn"> <!-- fadeIn - эффект перехода -->
                <img src="/images/banner-2.svg" alt="banner" style="width: 100%;">
            </div>

            <div class="mySlides fadeIn"> <!-- fadeIn - эффект перехода -->
                <img src="/images/banner-3.svg" alt="banner" style="width: 100%;">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094</a>
            <a class="next" onclick="plusSlides(1)">&#10095</a>
        </div>

        <br>

        <div style="text-align: center;">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

    </section>

    <div class="container">
        <section class="about-popular-products">
            <h3>ПРОДУКТЫ НЕДЕЛИ</h3>
            <div class="popular-products-cards">

                <article class="popular-mini-card">
                    <img src="/images/cherry.svg" alt="" width="405" height="540">
                    <h4>Вишня</h4>
                    <h5>₸ 223,00</h5>
                    <a class="view-product-detail-btn" th:href="@{/home/shop}">Подробнее</a>
                </article>

                <article class="popular-mini-card">
                    <img src="/images/airan.svg" alt="" width="405" height="540">
                    <h4>Айран</h4>
                    <h5>₸ 223,00</h5>
                    <a class="view-product-detail-btn" th:href="@{/home/shop}">Подробнее</a>
                </article>

                <article class="popular-mini-card">
                    <img src="/images/myata.svg" alt="" width="405" height="540">
                    <h4>Мята</h4>
                    <h5>₸ 223,00</h5>
                    <a class="view-product-detail-btn" th:href="@{/home/shop}">Подробнее</a>
                </article>
            </div>
        </section>

        <section class="about-blog"></section>

        <section class="mini-about-us">
            <h2>О НАС</h2>
            <div class="mini-about-us-counter-part">
                <article class="mini-about-us-counter">
                    <i class="fas fa-shopping-cart"></i>
                    <div id="out-1" class="out-num1" data-counter="50">0</div>
                    <p class="hero">заказов</p>
                </article>

                <article class="mini-about-us-counter">
                    <i class="fas fa-building"></i>
                    <div id="out-2" class="out-num2" data-counter="7">0</div>
                    <p class="hero">город</p>
                </article>

                <article class="mini-about-us-counter">
                    <i class="fas fa-user"></i>
                    <div id="out-3" class="out-num3" data-counter="2">0</div>
                    <p class="hero">в команде</p>
                </article>

                <article class="mini-about-us-counter">
                    <i class="fas fa-calendar"></i>
                    <div id="out-4" class="out-num4" data-counter="20">0</div>
                    <p class="hero">дней</p>
                </article>
            </div>


        </section>
    </div>
</main>

<footer th:insert="blocks/footer :: footer"></footer>

<script src="/js/carusel.js"></script>

<script src="/js/scroll-counter.js"></script>

</body>

</html>